.hh {
    display: grid;
    grid-template-columns: 1fr 3fr;

    gap: 30px;
}

.count {
    padding: 20px;
    text-align: center;
}

.salary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 20px;
    gap: 20px 0;

    text-align: center;
}

.salary > div {
    border-right: 1px solid var(--gray-light);
}

.salary > div:last-child {
    border-right: none;
}

.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;

    color: var(--black);

    margin-bottom: 10px;
}

.countValue {
    color: var(--primary);
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
}

.salaryValue {
    color: var(--black);
    font-size: 26px;
    font-weight: 700;

    margin-bottom: 12px;
}

.rate {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;

    gap: 10px;
}

.active circle {
    fill: var(--red);
}

@media screen and (max-width: 1200px) {
    .hh {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 640px) {
    .salary {
        grid-template-columns: 1fr;
    }

    .salary > div {
        border-right: none;
        border-bottom: 1px solid var(--gray-light);
        padding-bottom: 20px;
    }

    .salary > div:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}