.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: left;

    gap: 20px;
}

.hhBlock {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.hhTitle {
    margin-bottom: 25px;
}

.additional {
    margin: 30px 0 0 15px;
}

.skills {
    margin-top: 30px;
}

.tags {
    margin-top: 20px;
}