.firstLevel {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;

    gap: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    margin-top: 20px;
}


.firstLevelLink {
    text-decoration: none;
    color: var(--gray-dark);
}

.firstLevelActive, .firstLevel:hover {
    color: var(--primary)
}

.secondLevel {
    margin-bottom: 10px;

    cursor: pointer;
    text-transform: uppercase;

    color: var(--gray-dark);

    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

.secondLevelBlock {
    overflow: hidden;
}

.secondBlock {
    margin-left: 12px;
    padding-left: 32px;
    margin-top: 15px;

    border-left: 1px solid #dfdfdf;
}

.thirdLevel {
    display: block;

    margin-bottom: 10px;
    cursor: pointer;
    color: var(--gray-dark);

    font-size: 14px;
    font-weight: 500;

    text-decoration: none;

    outline-offset: -1px;
}

.thirdLevelActive, .thirdLevel:hover {
    color: var(--primary)
}